body {
    padding-top: 50px;
}

#first,#second,#third,#forth,#gender,#user,#pic{
    
    color: red;
    font-family: cursive;
    font-weight: bold;
    font-size: 15px;
    
    
}
#individual{
    float:none;
    height: 650px;
    width: 400px;
    margin-right: 200px;
    background-color: #bfbfbf;
    border-radius: 2%;
    padding-right: 10px;
    
    
}
#inner{
    
    display:inline-block;
    margin-left: 20px;
    margin-top: 20px;
    
}
#picframe{
    
    
    margin-top: 20px;
    margin-left: 20px;
    padding-top:20px;
    
}
